/* line 3, ../sass/global.scss */
* {
  font-size: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 10, ../sass/global.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 15, ../sass/global.scss */
html, body {
  cursor: url(../img/cursor.png);
}

/* line 19, ../sass/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  min-width: 600px;
}

/* line 28, ../sass/global.scss */
canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 36, ../sass/global.scss */
#menu {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
  width: 20vw;
  max-width: 300px;
  padding: 10px 10px;
}
/* line 45, ../sass/global.scss */
#menu li {
  display: block;
}
/* line 49, ../sass/global.scss */
#menu li:first-child a {
  background: #fff;
  color: #6E232F;
  font-size: 40px;
  font-weight: 800;
  height: 120px;
  position: relative;
}
/* line 57, ../sass/global.scss */
#menu li:first-child a:after {
  content: "";
  display: block;
  border-right: 30px solid transparent;
  border-top: 120px solid #fff;
  position: absolute;
  right: -35px;
  top: -5px;
  bottom: 0;
}
/* line 75, ../sass/global.scss */
#menu li a {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-align: left;
  display: inline-block;
  padding: 8px 10px 10px;
  text-transform: uppercase;
  border: 5px solid #fff;
  margin-bottom: -5px;
}
/* line 85, ../sass/global.scss */
#menu li a:hover {
  background: #fff;
  color: #222;
}
